$bodyBackground: #f8f8f8;
$headerHeight: 64px;
$defaultWidthOfMainContainer: 1100px;
$tabletWidthOfMainContainer: 834px;
$mobileWidthOfMainContainer: calc(100% - 32px);
$backgroundMobileNavigation: #04021A;
