.Cover {
  &Component {
    width: 100%;
    min-height: 420px;
    background-image: url("./assets/images/cover-placeholder.webp");
    background-size: cover;
    position: relative;
  }
  &Background {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5032387955182073) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
